.image-card-container {
   position: relative;
   width: 387px;
     height: 300px;
     border-radius: 5px;
}

.image-card-container #image {
     width: 387px;
     height: 300px;
     border-radius: 5px;
}

.image-card-features {
     margin: 14px;
     position: absolute;
     top: 0;
     display: flex;
     gap: 10px;
   
    
}

.image-card-features p {

    border: 1px solid #FFFFFF;
    border-radius: 5px;
    background-color:  rgba(255, 255, 255, 0.2);
    background: #22222266;
    color: #FFFFFF;
     padding: 6px 12px;
     font-family: "Inter" , Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 12px;




}

@media (max-width : 490px) {
    .image-card-container {
  
      width: 340px;
     height: 240px;
}
.image-card-container #image {
     width: 340px;
     height: 240px;
}

}